{% extends "base.html" %}

{% block head %}
	<title>Create Meeting</title>
{% endblock %}

{% block content %}
Placeholder text for creating a meeting
<form method="get">
	<input id="name" type="text" name="name" value="Your meeting name!" />
	<input id="passCode" type="text" name="passCode" value="Type in a passcode for the meeting" />
	<input id="startDate" type="date" name="startDate"  />
	<input id="endDate" type="date" name="endDate" />

	<input type="submit" value="Create">
</form>
{% endblock %}

